@font-face {
  font-family: 'VCR OSD Mono';
  font-style: normal;
  font-weight: normal;
  src: local('VCR OSD Mono'), url('VCR_OSD_MONO_1.001[1].woff') format('woff');
  font-display: swap;
  }
  
  *{
    font-family: 'VCR OSD Mono' !important;
  }
  .bg-nav{
    background:#1C1B24  ;
  }
  .bg-accent{
    background:#BC6FA8;
    text-shadow: 2px 2px 4px rgb(15, 15, 15);
  }

  .bg-accent:hover{
    background:#a13d87;
  }
  
  .bg-accent2{
    background:#8D55B8;
    text-shadow: 2px 2px 4px rgb(15, 15, 15);
  }

  .bg-accent2:hover{
    background:#8238bb;
  }
  .bg-photo{
    background-image: url('./assets/bglite.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100vh;
  overflow: hidden;
}
.front{
  z-index:1
}

.back img{
  overflow: hidden;
  position: absolute;
  bottom:0;
  transition: all 1s;
  animation: shrink 5.3s infinite alternate;
  
  
}
.float-right-top{
  position: absolute;
  right: 10%;
  top: 15%;
}
.float-bottom{

  transform: translateY(-20vh);
}
.bg-section1{
  background:linear-gradient(to bottom, #C077AE,#B35C9B );
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.12), 
  inset  0 2px 2px rgba(0,0,0,0.12), 
  inset 0 4px 4px rgba(0,0,0,0.12), 
  inset 0 8px 8px rgba(0,0,0,0.12),
  inset 0 16px 16px rgba(0,0,0,0.12);
}
.bg-section2{

  background:#8F58BA;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.12), 
  inset  0 2px 2px rgba(0,0,0,0.12), 
  inset 0 4px 4px rgba(0,0,0,0.12), 
  inset 0 8px 8px rgba(0,0,0,0.12),
  inset 0 16px 16px rgba(0,0,0,0.12);
}
.bg-section3{

  background:#171933;
}

.img-brand {
  
  width: 25%;
  
}
@media only screen and (max-width: 700px) {
  .img-brand {
    width: 65%;
  
  }
}
.text-shadow{  text-shadow: 2px 2px 4px rgb(15, 15, 15);}
*{
  text-shadow: 2px 2px 4px rgb(15, 15, 15);
}
.btn-grad1{
  background:linear-gradient(to bottom , #A67ACB,#8D55B8);
  box-shadow: 0px 2px 6px 0px #111;
}
.btn-grad2{
  background:linear-gradient(to bottom, #C077AE,#B35C9B );
 
  box-shadow: 0px 2px 6px 0px #111;
}

.carshadow{
  border-radius: 5px;
  margin-right:5vw;
  box-shadow:  0px 0px 10px 2px rgba(17, 17, 17, 0.466);
}
.tree-img {
  
  width: 100%;
  
}
@media only screen and (max-width: 700px) {
  .tree-img {
    object-fit: cover;
    width:100%;
    height: 40vh;
  
  }
}
@media only screen and (max-width: 700px) {
  .up-small {
    transform: translateY(-45px) !important;
  
  }
}
.btn-sha{
  box-shadow: 0px 2px 6px 0px #111 !important;
}
